.link-download{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: .5rem;
  border: 1px dashed #B3B3B3;
  padding: 1.75rem 1.5rem;
  text-decoration: none;
  color: #000;
  transition: all ease .33s;

  &:not(:last-of-type){
    margin-bottom: 1rem;
  }

  &:hover{
    border-color: #fff;
    box-shadow: 0 10px 30px rgba(#000, .1);

    & .link-download__icon{
      fill: #602C75;
    }
  }

  &__text{
    font-weight: 600;
    line-height: 1.5;
    display: flex;
    align-items: center;
  }

  &__notes{
    margin-left: .5rem;
    color: #808080;
    font-weight: 400;
  }

  &__icon{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
    fill: #b3b3b3;
    transition: fill ease .33s;
  }
}
