@import "var";
.c-section{
  padding: 4rem 0;

  &_gray{
    background-color: $color-gray;
  }

  &__title{
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 1.25em;
    letter-spacing: -.1ex;
  }
}

body {
  background-color: #fff;
}
.c-wrap{
  padding: 0 3.125rem;

  @media screen and (max-width: 1400px) {
    padding: 0 2.5rem;
  }

  @media screen and (max-width: 767px) {
    padding: 0 1.25rem;
  }
}

.hero {
  @media screen and (max-width: 980px) {
    & .c-wrap{
      justify-content: flex-start;
      padding-top: 4rem;
    }
  }

  @media screen and (max-width: 640px) {
    & .close-btn{
      top: 1.25rem;
      right: 1.25rem;
    }

    & .search__form{
      margin-bottom: 2rem;
    }
  }
}

