@import "assets/var";

// buttons
.btn{
  @extend %reset-btn;

  &_more{
    font-weight: 600;
    color: $color-link;
    padding: 1.25em;
    line-height: 1.5;
    border-radius: .5em;
    border: 1px dashed $color-brd;
    text-align: center;
    width: 100%;
    transition: border-color ease .33s;

    &:hover{
      border-color: $color-link;
    }
  }
}

// links
.link{
  display: inline-block;
  color: $color-link;
  text-decoration: underline;
  transition: color ease .33s;

  &:hover{
    text-decoration: none;
  }

  &_in-text{
    text-decoration: none;
    color: currentColor;
    font-weight: 600;
  }
}

// accordion
.accordion{
  overflow: hidden;
  transition: max-height ease .33s;

  &_show{
    overflow: visible;
  }
}
