// var
$ff-base: 'Open Sans', sans-serif;
$color-link: #2b5bae;
$color-btn-blue: #0059B5;
$color-brd: #b3b3b3;
$color-brd-sec: #E5E5E5;
$color-black: #000000;
$color-purple: #602C75;
$color-green: #44A12F;
$color-notes: #5A5A5A;
$color-gray: #F6F6F6;
$color-txt: #363636;
$color-txt-gray: #808080;

// placeholders
%reset-btn{
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  font-family: $ff-base;
  font-size: 1rem;
  display: inline-block;
}

// some default style
.color-green{
  color: $color-green;
}
