// main page wrapper
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-block{
  flex-grow: 1;
}

//lang switch
.land-switch {
  &__item {
    cursor: pointer;

    &.is-active {
      cursor: default;
    }
  }
}

//margins
.mb_xxl{
  margin-bottom: 5rem;
}
