// main page wrapper
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-block{
  flex-grow: 1;

  &_alone{
    padding-bottom: 5rem;
    border-bottom: none;
  }

  @at-root .wrapper & {
    padding-top: 72px;
  }
}

.nowrap{
  white-space: nowrap;
}

//lang switch
.land-switch {
  &__item {
    cursor: pointer;

    &.is-active {
      cursor: default;
    }
  }
}

//margins
.mb_xxl{
  margin-bottom: 5rem; //80px
}

.mb_xl{
  margin-bottom: 4rem; //64px
}

.mb_mid{
  margin-bottom: 2.5rem; //40px
}

.mb{
  margin-bottom: 1.5rem; //24px
}

.mt_xl{
  margin-top: 4rem; //64px
}

.mt_mid{
  margin-top: 2.5rem; //40px
}

.mt_def{
  margin-top: 2rem; //32px
}

.mt{
  margin-top: 1.5rem; //24px
}
