// main page wrapper
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-block{
  flex-grow: 1;

  &_alone{
    padding-bottom: 5rem;
    border-bottom: none;
  }
}

//lang switch
.land-switch {
  &__item {
    cursor: pointer;

    &.is-active {
      cursor: default;
    }
  }
}

//margins
.mb_xxl{
  margin-bottom: 5rem;
}

.mb_xl{
  margin-bottom: 4rem;
}

.mt_xl{
  margin-top: 4rem;
}

.mt_mid{
  margin-top: 2.5rem;
}
