@import "var";
.second-menu{
  border-bottom: 1px solid $color-brd-sec;
  padding-top: 1.5rem;
  margin-bottom: .5rem;
}

.pp{
  position: relative;
  padding-bottom: 4rem;
  overflow: hidden;

  &:last-of-type{
    padding-bottom: 0;
  }

  &__wrap{
    display: flex;
    align-items: flex-start;
  }

  &__img{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    &_zoom{

      &:after{


      }
      &:hover{
        z-index: 10;
      }
    }
  }

  &__content{
    flex: 0 0 66%;
    max-width: 66%;
    position: relative;
    z-index: 10;
  }

  &__title{
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 1em;
    letter-spacing: -.1ex;

    &_no-mrg{
      margin: 0;
    }

    &_mrg-mid{
      margin-bottom: 1.25em;
    }
  }

  &__par{
    color: $color-txt;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.4em;

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  &__sec-title{
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1em;
  }

  &__c-title{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-txt;
  }

  &__list{
    list-style: none;
    margin: 1rem 0 2rem;

    & li{
      color: $color-purple;
      position: relative;
      padding-left: 1em;
      font-size: 1rem;
      margin-bottom: 1rem;

      &:before{
        content: '';
        position: absolute;
        left: 0;
        background-color: $color-purple;
        width: .25rem;
        height: .25rem;
        top: 6px;
        border-radius: 50%;
      }
    }
  }

  &__aside{
    flex: 0 0 33%;
    max-width: 33%;
    padding-left: 1.25rem;
    position: relative;
  }
}

.pp-info-block{
  margin: 2rem 0 4rem;
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 0 5px 30px rgba($color-black, .1);
  padding: 2rem;

  &__title{
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 1em;
  }

  &_no-mrg{
    margin: 0;
  }

  & .ico-block{
    margin-top: 1.5rem;
  }

  & .ico-block_step{
    margin-top: 0;
  }
}

.pp-info{
  color: #fff;
  background-color: $color-purple;
  border-radius: 1.25rem;
  padding: 2rem;
  font-size: 1.125rem;
  line-height: 1.33;
  margin: 2rem 0;
}

//form
.pp-form{
  border-color: #fff;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 1.25rem;
  box-shadow: 0 10px 30px rgba($color-black, .1);

  &__title{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #000;
  }

  &__row{
    margin-top: 1.5rem;

    &_last{
      margin-top: 2rem;
    }
  }

  &__btn{
    width: 100%;
    color: #fff;
    background-color: $color-btn-blue;
    border-radius: .25rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    border: none;
    outline: none;
    transition: box-shadow ease .3s;

    &:hover{
      box-shadow: 0 10px 30px rgba($color-black, .1);
    }
  }
}

